 .header_item:hover {
     background-image: linear-gradient(crimson,firebrick);
 }
 .content-row {
     flex-wrap: nowrap;
 }

 .content-widget_top {
     margin: 10px 10px;
     padding: 10px 10px;
     flex-grow: 4;
     background-image: linear-gradient( green,lawngreen);
     text-align: center;
 }

.content-widget_low {
    margin: 10px 10px;
    padding: 10px 10px;
    flex-grow: 3;
    background-image: linear-gradient(firebrick,crimson);
    text-align: center;
}

h2 {
    
    color: firebrick;
    text-transform: uppercase;
}

