<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href='~/css/StyleSheet.css' type='text/css' media='all'>
    <link rel='stylesheet' href='~/css/font-awesome.min.css' type='text/css' media='all'>
</head>
<body>
    <header>
        <div class="header_section">
            <div class="header_item"><a asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out fa-rotate-180" aria-hidden="true"></i>Logout</a></div>
            <h2 class="header_text" >@ViewData["Title"]</h2>
        </div>
        <div class="header_section">

            <div class="header_item"><a asp-action="Main" asp-controller="Analytics">Main</a></div>
            <div class="header_item"><a asp-action="Menu" asp-controller="Analytics">Menu</a></div>
            <div class="header_item"><a asp-action="Payment" asp-controller="Analytics">Payment</a></div>


        </div>

    </header>
    <main>
        @RenderBody()
    </main>


    <footer>
        <h4> 	&#169; Internship Task - Zgura Nazar - 2018 </h4>
    </footer>
</body>
</html>











